.consultation-fixed-right {
  position: fixed;
  top: 50%;
  right: 0;
  width: 55px;
  transform: translate(0, -50%);
  background: rgba(0,0,0,0.3);
  padding: 12px 0 0 0;
  border-radius: 8px 0 0 8px;
  z-index: 999999;
}

.consultation-fixed-right ol > li {
  width: 180px;
  height: 50px;
  padding-left: 18px;
  line-height: 50px;
  border-radius: 8px 0 0 8px;
  transition: .3s ease-in;
}

.consultation-fixed-right ol > li:hover {
  background: rgba(0,0,0,0.6);
  margin-left: -125px;
}

.consultation-fixed-right ol > li > a {
  color: white;
  font-size: 24px;
}

.consultation-fixed-right ol > li > a:focus {
  text-decoration: none;
}

.consultation-fixed-right ol > li:nth-child(2) > a > span {
  font-size: 16px;
}

.consultation-fixed-right ol > li > a > span {
  margin-left: 15px;
  font-size: 20px;
}
