.head-top-mode {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 90px;
  background-color: white;
  transition: .5s ease-in-out;
}
.head-top {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 90px;
}
.head-top-mode {
  background-color: rgba(255,255,255, .9);
  /*box-shadow: 0 3px 5px rgba(0,0,0,.2);*/
}
.head-top-mode.active,
.head-top.active {
  top: -90px;
}
.head-top-box {
  width: 90%;
  height: 50px;
  line-height: 50px;
  margin: 20px auto 0;
}
.head-top-box img {
  vertical-align: middle;
}
.head-navbar ul li {
  height: 30px;
  line-height: 30px;
  margin: 10px 0 0 40px;
  overflow: hidden;
}
.head-navbar ul li a {
  display: block;
  font-size: 14px;
  color: white;
  transition: .3s ease-out;
}
.head-mode-navbar ul li a {
  color: #333;
}
.head-navbar ul li:hover a {
  margin-top: -30px;
  color: #00ffe4;
}
.head-mode-navbar ul li:hover a {
  color: #002f7d;
}
.head-navbar ul li span{
  display: block;
  height: 30px;
}
