@import './lib/swiper.min.css';
@import '~antd/dist/antd.css';

body {
	margin: 0;
	padding: 0;
	font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei UI", "Microsoft YaHei", SimHei, "\5B8B\4F53", simsun, sans-serif;
}

.pull-left,
.list-inline li {
	float: left;
}

.pull-right {
	float: right;
}

.clear {
	clear: both;
}
